body {
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 60px;
}

.container {
  background-color: #1f1f1f;
  width: 350px;
  height: 560px;
  border-radius: 12px;
}


h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  width: 80px;
  border-radius: 100px;
  margin-top: 30px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

button {
  color: white;
  background-color: #333333;
  height: 40px;
  width: 290px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.p1 {
  color: #a0ff40;
}

p {
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #a0ff40;
  color: black;
}