.Parent {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  background-color: green;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.child {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 1px solid white;
}