body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f47b7b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 900px;
  text-align: center;
}

h2 {
  color: white;
  margin-bottom: 25px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 22%;
  background-color: white;
  padding: 20px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}




